@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background-color: #333;
    --snake-color: #1b6f1b;
    --screen-color: #999;
    --font-color: white;
    --background-select:#e0e0e0;
}

.hide {
    display: none !important;
    opacity: 0;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: var(--font-color);
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}
.score{
    min-height: 33px;
}

header {
    text-align: center;
}

header>* {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    border: #e7e7e7 5px solid;
    box-shadow: 0px 0px 5px #e7e7e7,

        0px 0px 7px #f8f8f8,
        /* Repetimos el resplandor */
        0px 0px 10px #f8f8f8,
        0px 0px 10px #f8f8f8,
        0px 0px 10px #f8f8f8;
    min-height: 200px;
    width: 400px;
    max-width: 90%;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1000;
    background-color: var(--background-color);
    padding: 10px 0px;
}
*:not(.hide){
    animation: show .3s;
}

#menu h2 {
    font-size: 22px;
    margin: 0;
}

#menu li {
    list-style: none;
    cursor: pointer;
    margin: 0 2px;
    line-height: 36px;

}
#menu li:hover {
    background-color: var(--background-select);
    color: #333;
}

#menu span {
    opacity: .8;
}
#menu p{
    margin: 0;
    text-align: left;
}
#menu .select {
    width: 90%;    
    margin: 0 auto; 
    display: flex; 
    text-align: left;
    padding: 5px;
    position: relative;
    min-height: 48px

}
#menu .select .options{ 
    overflow: hidden;
    position: absolute;
    right: 0; 
    background-color: var(--background-color);
}
#menu .options li {
    border: 1px solid black;
    color: white;
    border-radius: 0;
    background: rgba(255, 255, 255, .1);
    margin: 0 2px;     
    width: 130px;
    text-align: center;
}

#menu .options 	 li.selected {
    background-color: var(--background-select);
    color: #333;
    display: block!important;
}

#menu .description.hide {
    height: 0;
}

#menu .description:not(.hide) {
    font-size: .6em;
    margin: 2px 10px;
    padding: 10px;
    box-shadow: 0 0 0 aliceblue;
    min-height: 100px;
}

#screen {
    background-color: var(--screen-color);
    border: 1px solid rgba(255,255,255,.3);
    margin: auto;
    display: inherit;
}
#screen.border {
    box-shadow: inset 0 0 1px 2px white;
}

#controls {
    position: relative;
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls img {
    width: 60px;
    position: absolute;
    opacity: 0.7;
}

#controls>* {
    position: relative;
    width: 150px;
    height: 150px;
}

#controls .arrows img:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#controls .arrows img:nth-child(1) {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

#controls .arrows img:nth-child(3) {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

#controls .arrows img:nth-child(4) {
    bottom: 0%;
    left: 50%;
    transform: translateX( -50%);
}
#controls>div:last-child img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #eee;
    border-left-color: white;
    background-color: #333;
    width: 80px;
    height: 80px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: none;
}

#countdown.show {
    display: inline-flex;

}
@keyframes show {
    from {opacity:  0;}
    to {opacity: 1;}
  }

@media (max-width:768px) {
    #menu h2 {
        font-size: 16px;
    }

    #menu li {
        font-size: 14px;
    }

    #menu .btn {
        font-size: 12px;
    }
    .no-mobile{
        display: none;
    }
}